<%= form_tag initiate_path, :method => 'post' do  %>
<legend>Initiate Project</legend>
   <div class="form-group">
    <%= label_tag :project_id,'Project Name' %><br>
    <%if params[:project_id] %>
    <%= Project.find(params[:project_id]).name %>
    <%= hidden_field_tag :project_id,params[:project_id]  %>
    <%else %>
    <%= select_tag(:project_id, options_from_collection_for_select(Project.all.order(:name), :id, :name), :prompt => "<--All Projects-->",:class=>'form-control' ) %>
    <%end %>
   </div>
   <div class="form-group">
    <%= label_tag :name,'Tester Name' %><br>
    <%= text_field_tag :name,nil,:class=> 'form-control' %>
   </div>
  
  <div class="form-group">
    <%= label_tag :environment %><br>
    <%= text_area_tag :environment,nil,:class=> 'form-control' %><br />
  </div>
  <div class="form-group">
    <%= label_tag :content %><br>
    <%= text_area_tag :content,nil,:class=> 'form-control' %><br />
  </div>
  <div class="form-inline">
  <div class="form-group">
    <%= label_tag :created_at,"In Date" %><br>
    <%= date_field_tag :created_at,nil,:class=> 'form-control' %><br />
  </div>
  <div class="form-group pull-right">
    <%= label_tag :updated_at,"Out Date" %><br>
    <%= date_field_tag :updated_at,nil,:class=> 'form-control' %><br />
  </div>
  
  </div>
  <hr >
  <div class="form-group">
   <%= submit_tag 'submit',:class=> 'btn btn-success form-control' %>
  </div>
<% end %>
