<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tester</title>
  <script language="javascript" type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
  </script> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

<%=link_to 'Home',root_url,:class=> 'btn btn-default pull-right' %>
	
<div class="bodyclass">
	<!-- Yielding done here -->
	<%= yield %>
</div>
<script>
jQuery(document).ready(function(){
	$('.bodyclass').hide().fadeIn(3000);
});
</script>

<!-- This block is for alerts  -->
	<% flash.each do |key, value| %>
	<div style='color:green;background-color:white'>
	 <div class="alert alert-<%=key%>"><%= value %></div>
	 </div>
	<% end %>
	


</body>
</html>
